*{

    margin: 0;
    padding: 0;

}
a{

    font-family: sans-serif;
    text-decoration: none;

}
header{

    background-color: #a5c;
    padding-inline: 16px;
}
.nav{

    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;

}
.nav-list{

    display: flex;
    gap:32px;

}
.nav-list a{

    font-size: 18px;
    color: #fff;
    padding-block:16px;

}
.hero{

    height: calc(100vh - 70px);
    background-image: linear-gradient(to top(#000000, #fff));

}
.logo{

    font-size: 48px;

}
.hamburger{

    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;

}
.hamburger::after .hamburger::before{

    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;

}
ul{

    list-style: none;

}