*{

    margin: 0;
    padding: 0;

}

.header{

    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #3f3f3f;
    display: flex;

}
.menu-toggle{

    background: linear-gradient(145deg, #4a4a4a, #353535);
    color: #ffffff;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto auto 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;

}
.menu-toggle:hover{

    transform: scale(1.05);

}
.nav ,.nav_2 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto;
}

.nav a,.nav_2 a {
    padding: 10px 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s;
}

.nav a:hover, .nav_2 a:hover {
    background-color: #555;
    color: #ffcc00;
}
.nav li, .nav_2 li {
    list-style: none;
}

.Log_perf {
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(img/perfil.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid #1f1f1f;
    margin: auto 20px auto auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.2s ease;
}
.Log_perf:hover{

    transform: scale(1.05);

}

@media (max-width: 750px){


    .header{

        height: 8vh;

    }
    @media (max-width: 750px){
    .nav_2 {
        position: absolute;
        top: 8vh;
        right: 10px;
        background-color: #3f3f3f;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
        z-index: 100;

        display: flex;
        flex-direction: column;

        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-10px);
        transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    }

    .nav_2.ativo {
        max-height: 500px; /* altura grande o suficiente pro conteúdo */
        opacity: 1;
        transform: translateY(0);
    }
}

    .menu-toggle{

        height: 32px;
        width: 32px;

    }
    .Log_perf{

        width: 32px;
        height: 32px;

    }

}
ul{

    list-style: none;

}